*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: rgb(242, 0, 113);
}
.dashbox{
  height: 680px;
  width: 250px;
  background-color: rgb(49, 46, 46);
  margin-top: 15px;
  margin-left: 15px;
  padding-top: 35px;
  border-radius: 20px 20px 20px 20px;
  font-family: "Poppins", sans-serif;
  color: white;
 position: fixed;
}
#threeerro{
  height: 30px;
  width: 30px;
}
#MD{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.line li{
  margin-top: 10px;
  height: 45px;
  width: 220px;
  padding-left: 20px;
   display: flex;
  align-items: center;  
  margin-right: 40px;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  cursor: pointer;
  list-style: none;
}
.font{
  font-size: 18px;
  padding-right: 9px;
}

.line li:hover{
  background-color: rgb(92, 92, 210);
}

.active{
  background-color: rgb(92, 92, 210);

}
.cont{
  display: flex;
  flex-direction: row;
}
.navbar1{
  width: 1260px;
  height: 70px;
  font-weight: bold;
  position: fixed;
  margin-left: 270px;
}
.navicon{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 13px;
  font-size: 20px;
  padding-top: 8px;
}
.fourbox{
  display: flex;
  gap: 20px;
  margin-top: 100px;
  margin-left: 310px;
}
.boxcontain{
  display: flex;
  justify-content: space-around;
}
.firstbox{
  height: 150px;
  width: 283px;
  background-color: white;
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176);
  border-radius: 10px;

}
.firstimg{
  height: 70px;
  width: 70px;
  border-radius: 20px;
  margin-top: -23px;
}
.bookingul{
  list-style: none;
  padding-top: 25px;
  font-size: 17px;
}
.bookingul li:nth-child(2){
 font-size: 30px;
 font-weight: bold;
}
.ptag{
  margin-top: -15px;
  margin-left: 15px;
  font-size: 17px;
}
.border{
  border-bottom: 20px solid black;
  width: 183px;
  margin-left: 25px;
}
/* chart */
.mainchart{
  display: flex;
  margin-left: 310px;
 gap: 20px;
}
.firstchart{
  height: 320px;
  width: 380px;
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176);
  border-radius: 10px;
}
.chartimg{
  height: 230px;
  width: 350px;
  margin-top: -20px;
  margin-left: 13px;
}
.charttxt{
  margin-left: 20px;
}
.Website{
  font-size: 20px;
  font-weight: bold;
}
.Campaign{
  margin-top: -14px;
  color: rgb(90, 81, 81);
}
/* ---last contain---*/
.lastcontain{
  display: flex;
  margin-left: 310px;
  gap: 20px;
}
.bigbox{
  height: 500px;
  width: 780px;
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176);
  border-radius: 10px;
}
.smallbox{
  height: 500px;
  width: 380px;
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176);
  border-radius: 10px;
}
.Project{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  font-weight: 600;
}
.thicon{
  margin-right: 60px;
  margin-top: 25px;
}
.tablecontain table{
  margin: 20px;
  height: 400px;
  width: 740px;
}
.oo{
  margin: 25px;
  line-height: 35px;
}
.lasticon{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 25px;
}
.belicon{
  font-size: 17px;
  height: 40px;
  width: 40px;
  /* border: 2px solid green; */
  border-radius: 50px;
  background-color: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lasttxt p{
 font-size: 13px;
 line-height: 7px;
}

/* table page */
.sidema{
  margin-left: 300px;
}
.gray{
  color: gray;
  font-weight: 400;
}
.mainname{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-family: "Hind Guntur", sans-serif;
  font-weight: 700;
}
.up{
  margin-top: -20px;
}
.me-2{
  height: 43px;
}
.bluebox{
  height: 75px;
  width: 1150px;
  background: rgb(53,109,224);
  background: radial-gradient(circle, rgba(53,109,224,1) 11%, rgba(51,133,224,1) 91%, rgba(49,125,236,0.9248074229691877) 100%);
  margin-left: 325px;
  position: absolute;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;
  padding-left: 20px;
  padding-top: 26px;
  font-size: 17px;
}
.firsttablebox{
  height: 570px;
  width: 1200px;
  background-color: white;
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176);
  border-radius: 13px;
  margin-left: 305px;
 margin-top: 30px;
 padding-top: 70px;

}
.firsttabletxt{
  height: 500px;
  width: 1200px;
  font-family: "Inter Tight", sans-serif;
  font-size: 13px;
  font-weight: bold;
}
.textaling_end{
  text-align: justify;
  padding-right: 60px;
}
.textaling_right{
  padding-left: 30px;
}
.tddiv{
  display: flex;
  gap: 15px;
  align-items: center;
}
/* .onlinebtn{
  height: 40px;
  width: 60px;
  background-color: green;
  color: white;
  margin-left: 100px;
} */
.tddiv img{
  height: 40px;
  width: 40px;
  border-radius: 50px;
  margin-top: -15px;
}
.txtcolum{
  margin-top: -20px;
}
.thank{
  margin-left: 600px;
  margin-top: 300px;
}
.nilesh{
  margin-left: 300px;
}